In [2]:
import pyspark
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [3]:
spark = SparkSession \
    .builder \
    .appName('sql') \
    .master('spark://master:7077') \
    .getOrCreate()

22/01/12 09:06:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ['employee_name', 'department', 'salary']

df = spark.createDataFrame(data=simpleData, schema = schema)

In [9]:
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [10]:
from pyspark.sql.functions import max

In [11]:
max('salary')

Column<'max(salary)'>

In [12]:
df.select(max('salary')).show()

+-----------+
|max(salary)|
+-----------+
|       4600|
+-----------+

In [13]:
# !jupyter nbconvert --to script 1.sql.ipynb

In [14]:
# !/opt/spark/bin/spark-submit \
#   --master spark://master:7077 \
#   /home/data/1.sql.py